<div class="admin-products">
  <nav class="breadcrumb">
    <ol>
      <li><a href="/admin">Admin</a></li>
      <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg></li>
      <li>Products</li>
    </ol>
  </nav>
  <main>
    <div class="admin-products-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th class="table-timestamp">CreatedAt</th>
            <th class="table-timestamp">UpdatedAt</th>
          </tr>
        </thead>
        <tbody>
          <!-- 商品一覧を表示しよう -->
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="admin-products-form">
      <!-- formタグの属性を記述しよう -->
      <form action="/admin/post" enctype="multipart/form-data" method="post">
        <div>
          <div>
            <label for="name">Name</label>
            <!-- inputタグの属性を記述しよう -->
            <input id="name" type="text" name="name" placeholder="商品名" required>
          </div>
        </div>
        <div>
          <div>
            <label for="price">Price</label>
            <!-- inputタグの属性を記述しよう -->
            <input id="price" type="number" name="price" placeholder="金額" required>
          </div>
          <!-- inputタグの属性を記述しよう -->
          <input type="submit" value="投稿">
        </div>
      </form>
    </div>
  </main>
</div>

<script src="/js/input_file.js"></script>
