<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>アプリ名</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="sign_form">
      <div class="card">
        <div class="title">
          <h1>Bilson</h1>
          <p>Official Fanclub</p>
        </div>
        <!-- ここからコードを書こう -->
        <p class="footer">すでにアカウントをお持ちの方は<a href="/signin">こちら</a></p>
      </div>
    </div>
  </body>
</html>