<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Search</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon.ico">
</head>
<body>
  <header>
    <h1>Music Search</h1>
    <h2>あなたの心に響く一曲が、ここにある。</h2>
  </header>
  <div class="music-list">
    <!-- 穴埋めをしよう　-->
    <%  %>
      <div class="music">
        <img src="<%=  %>">
        <div>
          <p><%=  %></p>
          <p><%=  %></p>
        </div>
      </div>
    <% end %>
  </div>
</body>
</html>
