<div class="history">
  <h2>注文履歴</h2>
  <% if @ordered_items.empty? %>
    <p>まだ何も注文してないです</p>
  <% else %>
    <div class="table">
      <div class="table-header">
        <p>アイテム</p>
        <div class="detail">
          <p>注文日</p>
        </div>
      </div>
      <div class="history-container">
        <!-- 注文履歴の表示について記述する -->
        <%  %>
          <div class="history-item">
            <!--商品について記述する部分-->
            <div class="item-box">
              <img src="">
              <div class="item-ex">
                <p><%= # 商品名 %></p>
                <p>¥<%= # 値段 %></p>
              </div>
            </div>
            <p class="item-total-price"><%= # 購入日時 %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script type="module" src="/js/count.js"></script>
