<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Techzon</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="img/favicon.ico"> 
  <script type="module" src="/js/price_text.js"></script>
</head>
<body>
  <% if @page_name == "thanks" || "authenticate" %>
    <%= yield %>
  <% else %>
    <%= erb :'nav' %>
    <%= yield %>
    <%= erb :'footer' %>
  <% end %>
</body>
</html>