<div class="product-container">
  <!-- ここを記述しよう！ -->
    <img src="">
  <div>
    <p><%= @item.name %></p>
    <p class="item-price"><%= @item.price %></p>
    <form action="" method="">
      <input type="" value="注文する">
    </form>
  </div>
</div>