<main id="unauthed-main">
  <div class="unauthed-card">
    <h1>techzon <span>co.jp</span></h1>
    <!-- formを完成させましょう -->
    <form>
      <button type="">
        アカウント登録
      </button>
      <p>すでにアカウントをお持ちの方は<a href="">こちら</a></p>
    </form>
  </div>
</main>